{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.java",
      "options": {
        "tabWidth": 4,
        "useTabs": false,
        "singleAttributePerLine": true
      }
    }
  ]
}
